EXPO_PUBLIC_API_URL=https://your-deployed-app.vercel.app
EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=
EXPO_PUBLIC_ADMOB_ANDROID_APP_ID=
EXPO_PUBLIC_ADMOB_BANNER_ID=
EXPO_PUBLIC_ADMOB_REWARDED_ID=
EXPO_PUBLIC_ADMOB_INTERSTITIAL_ID=
EXPO_PUBLIC_RAZORPAY_KEY_ID=
